header
    padding: 25px 0
    position: fixed
    z-index: 1
    top: 0
    left: 0
    right: 0
    .minibox
        h3
            font-size: 18px
            font-weight: 700
            color: rgba(134, 130, 130, 0.801)
    .menu
        nav
            a
                color: rgba(134, 130, 130, 0.801)
                margin-right: 30px
