header
    padding: 25px 0
    position: fixed
    z-index: 1
    top: 0
    left: 0
    right: 0
    .minibox
        h3
            font-size: 18px
            font-weight: 700
            //color: rgba(255, 255, 255, 0.5)
    .menu
        nav
            a
                color: #000
                margin-right: 30px
