#projects
    padding: 120px 0
    .box
        width: 298px
        margin-top: 62px
        border-left: 8px solid #68d4a7
        h1
            font-size: 30px
            font-weight: 500
            margin-bottom: 20px
        p
            font-size: 19px
            line-height: 1.4
            color: rgba(0, 0, 0, 0.5)
