#start
    background-image: url(https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg)
    background-size: cover
    h1
        font-size: 80px
        color: rgba(85, 42, 42, 0.658)
    p
        color: #777272
        font-size: 20px
    .btn
        padding: 10px 25px
        background-color: #93d8dd
        h5
            font-size: 18px
            color: #ffff