#webflow
    padding: 100px 0
    .box
        background-color: #a4caff
        width: 300px
        height: 400px
        border-radius: 20px
        .minibox
            h1
                font-weight: 700
                font-size: 50px
                padding: 40px 0
                color: #ffff
            input
                border: 2px solid #bdbaba
                border-radius: 10px
                margin: 20px 0 50px 0
        .btn
            border: 3px solid #ffff
            border-radius: 10px
            cursor: pointer
            background-color: #ffff
            h3
                cursor: pointer
    .minibox2
        margin-top: 20px
        text-align: center
        h2
            font-size: 19px
            border: 2px solid #252525
            border-radius: 15px
            padding: 10px 70px
            margin-top: 7px
